raylib/
bin/
*.pdb
*.exe
*.rdi
*.bin
tests/*/build
tests/*/bin
examples/*/build
examples/*/bin
examples/raylib_ports/*/build
examples/raylib_ports/*/bin
examples/scraps/*/build
examples/scraps/*/bin
karl2d.doc.compare.odin
.nvim.lua
.zed
.vscode
.sublime
scrap/
.DS_Store